*
!.gitignore
!go.mod
!go.sum
!main.go
!api.go
!logger.go
!random.go
!script.go
!token_store.go
!public/
!public/**
!.github/
!.github/**
!Makefile
!wrangler.toml
!RELEASE.md
!install.sh
!install.ps1
!assets
!assets/**
!VERSION